*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: #f0f1f2;
    display: flex;
    justify-content: space-around;
}

.textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    width: 500px;
    height: 250px;

}

.photo{
    margin-bottom: 40px;
}

h2{
    margin-bottom: 40px;
}
p{
    margin-bottom: 10px;
}
button{
    background-color: rgb(34, 167, 34);
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}